# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
.env
.env.*
.venv/
venv/
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# HL7 Standard cache
hl7standard_cache/

profiles.db
docker-compose.traefik.yml
run.txt